@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --MyBlue: #0087FF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#FAFBFC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  display: flex;
  height: 88px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 70px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}

.wrapperSign{
  display: flex;
  width: 1200px;
  height: calc(100vh - 88px);
  margin: 0 auto;
  align-items: center;
}

.wrapper{
  display: flex;
  width: 950px;
  height: calc(100vh - 88px);
  margin: 0 auto;
}

p, h1{
  margin: 0;
}

.logo{
  font-family: 'Poppins', 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.btnLang{
  width: 45px;
  height: 45px;
  background: #FFFFFF;
  border: 0.5px solid #C9CAD1;
  border-radius: 12px;
  text-align: center;
  justify-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.btnLang:hover{
  background-color: #ebebed;
  transition: 0.3s;
}

.lang_id{
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}

.signBlock{
  margin-top: -5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 700px;
  /* height: 65% Не ставити в процентах. При такій верстці літаючі картинки погано відображаються на 2к моніку+ */
}

.signInPicture{
  width: 40%;
  height: 100%;
  text-align: right;
}

.signInPicMain, .signUpPicMain{
  height: 100%;
  box-shadow: 0px 5.31106px 84.977px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.signForm{
  display: flex;
  align-items: center;
  flex-direction: column;
  width:  40%;
  height: 100%;
}

@keyframes signFormSpawn {
  from {opacity: 0%;}
  to   {opacity: 100%}
}








.signUpH1{
  width: 83%;
  animation-name: signFormSpawn;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.signForm h1{
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 3.3em;
  margin: 9% 0;
}

.inputDiv{
  width: 83%;
  margin-bottom: 8px;
}

/* signForm div.inputDiv:not(:first-child) - не працює */

.inputDiv:not([selector="email"]){
  animation-name: signFormSpawn;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.inputName{
  width: 100%;
  height: 20px;
  color: #808080;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  margin-top: 12px;
  margin-bottom: 5px;
}

.inputType{
  width: 100%;
  height: 53px;
  background: #FFFFFF;
  border: 1px solid #C9CAD1;
  box-sizing: border-box;
  border-radius: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;  
}

.inputType:focus{
  outline: none;
}

.inputType::placeholder{
  opacity: 40%;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.signButton{
  width: 83%;
  height: 54px;
  background-color: var(--MyBlue);
  border-radius: 12px;
  border: 0px;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 4%;
  transition: 0.3s;
  animation-name: signFormSpawn;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signButton:hover{
  background-color: #127cdb;
  transition: 0.5s;
}

.signButton p{
  font-family: 'Poppins', 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
color: #fff;

}

.signForm>p{
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 20px;
  color: #808080;

  animation-name: signFormSpawn;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.signForm>p a{
  color: var(--MyBlue);
  margin-left: 10px;
  text-decoration: none;
}

.signForm>p a:hover{
  color: #127cdb;
  margin-left: 10px;
  text-decoration: none;
}

.signInPicture{
  position: relative;
}

.signInPic1, .signInPic2, .signInPic3{
  position: absolute;
  filter: drop-shadow(4.20px 4.20px 25px rgba(0, 0, 0, 0.40));
  border-radius: 16px;
}

.signInPic1{
  animation-name: pic1SpawnIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes pic1SpawnIn {
  from {width: 225px; height: 225px; top: 40.5%;  left: -12%;}
  1% { z-index: -1;}
  to   {width: 125px; height: 125px; top: 30%;    left: 96%; z-index: -1;}
}

.signInPic2{
  animation-name: pic2SpawnIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes pic2SpawnIn {
  from {width: 125px;height: 125px; top:30%; left: 96%; z-index: 1;}
  to   {width: 200px; height: 200px; top: 78%; left: 86%;}
}


.signInPic3{
  animation-name: pic3SpawnIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes pic3SpawnIn {
  from {width: 200px; height: 200px; top: 78%; left: 86%;}
  to   {width: 225px; height: 225px; top: 40.5%;  left: -12%;}
}


.signUpPic1, .signUpPic2, .signUpPic3{
  position: absolute;
  filter: drop-shadow(4.20px 4.20px 25px rgba(0, 0, 0, 0.40));
  border-radius: 16px;
}

.signUpPic1{
  animation-name: pic1SpawnUp;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes pic1SpawnUp {
  from {width: 125px; height: 125px; top: 30%;    left: 96%; z-index: -1;}
  1% { z-index: 1;}
  to   {width: 225px; height: 225px; top: 40.5%;  left: -12%;  z-index: 1;}
}

.signUpPic2{
  animation-name: pic2SpawnUp;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes pic2SpawnUp {
  from {width: 200px; height: 200px; top: 90%; left: 86%;}
  to   {width: 125px;height: 125px; top:30%; left: 96%; z-index: -1;}
}


.signUpPic3{
  animation-name: pic3SpawnUp;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes pic3SpawnUp {
  from {width: 225px; height: 225px; top: 40.5%;  left: -12%;}
  to   {width: 200px; height: 200px; top: 78%; left: 86%;}
}


@media screen and (max-width: 720px){

  header{
    height: 64px;
    padding: 0 16px;
  }

  .btnLang{
    display: none;
  }

  .wrapper, .wrapperSign{
    width: 100%;
  }

  .signInPicture{
    display: none;
  }

  .signForm{
    width: 100%;
  }

  .signUpH1, .inputDiv{
    width:90%;
  }

  .signForm h1{
    font-family: 'Poppins', 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    margin: 15% 0 8% 0;
  }

  .signBlock{
    height: 100%;
  }

  .inputType{
    height: 48px;
  }

  .signForm{
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
  }

  .signButton{
    order: 1;
    width: 90%;
  }
  
  /* flex-grow + flex-direction: column не працював, тому переписав під row. Align-self не працює. */
  .p_up{
    margin-top: 230px;
  }

  .p_in{
    margin-top: 323px;
  }

  /* Потім переписати адекватно */


}

@media screen and (max-width: 1024px) and (min-width: 720px){
  .wrapperSign, .wrapper{
    width: 1024px;
  }
  .signBlock{
    width:100%;
    margin-top: -10%;
  }

  .signForm{
    width: 45%;
  }

  .signInPicture{
    width: 45%;
  }

  .signInPic1{
    left: 2%;
  }

}


.pages{
  position: absolute;
}

.pages-enter-active{
  animation: fade-in 1s forwards;
}

.pages-exit-active{
  animation-name: fade-out 1s forwards;
}

@keyframes fade-in {
  0%{
    opacity: 0;
    transform: translateX(-400px);
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  0%{
    opacity: 1;
    transform: translateX(0);
  }
  100%{
    transform: translateX(100%);
    opacity: 0;
  }
}

.signInPic1-enter {
  opacity: 0;
}
.signInPic1-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.signInPic1-exit {
  opacity: 1;
}
.signInPic1-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.headerMain{
  display: flex;
  height: 88px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 70px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}

.navMain{
  display: flex;
  justify-content: flex-end;
}

.homeLink{
  width: 85px;
  height: 45px;
  background: #010101;
  border: 0.5px solid #C9CAD1;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.homeLink:hover{
  opacity: 75%;
  transition: 0.5s;
}

.btnLang{
  margin: 0 20px;
}

.userLink{
  width: 45px;
  height: 45px;
  background: #FFFFFF;
  border: 0.5px solid #C9CAD1;
  border-radius: 12px;
  display: flex;
    justify-content: center;
    align-items: center;
  overflow: hidden
}

.profilePicLink{
  width: 110%;
  height: 110%;
  /* При 100% картинка виглядає обрізаною і не заповнює блок. Object-fit не працює чомусь */
}

.wrapper{
  display: flex;
  width: 950px;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
}

.mainBlock{
  width: 60%;
  height: auto;
}

.storyBlock{
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 0px 0px 10px;
  width: 100%;
  height: 115px;
  margin-bottom: 25px;
  overflow-x: scroll;
  color: red;
  mask-image: -webkit-gradient(linear, 75% top, 100% bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.storyBlock::-webkit-scrollbar { 
  display: none;
}

.story{
  width: 60px;
  height: 60px;
  margin-right: 24px;
  border-radius: 24px;
  background: linear-gradient(45deg, #74EDF2 0%, #5156E6 100%);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.storyImage{
  width: 54px;
  height: 54px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: white;
}

.storyImageImg{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.postsBlock{
  width: 100%;
}

.post{
  width: 100%;
  height: 750px;
  margin-bottom: 25px;
}

.userInfoBlock{
  width: 35%;
  height: auto;
}

.userInfo{
  width: 100%;
  height: 360px;
  position: sticky;
  top: 0;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.dataInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 36px 24px 12px;
}

.followersInfo{
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.followersInfo p:last-child{
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #C9CAD1;
}

.profilePicInfo{
  width: 85px;
  height: 85px;
  border-radius: 24px;
  background: linear-gradient(45deg, #74EDF2 0%, #5156E6 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePicInfoInside{
  width: 79px;
  height: 79px;
  border-radius: 24px;
  border: 2px solid white;
  background-color: white;
}

.profilePicInfoPicture{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.followingInfo{
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.followingInfo p:last-child{
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #C9CAD1;
}

.btnInfoNewPostMin{
  position: absolute;
  left: 46.5%;
  top: 31%;
  border: 0px solid;
  width: 20px;
  height: 20px;
  background: linear-gradient(45deg, #74EDF2 0%, #5156E6 100%);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  transition: 0.1s;
  cursor:pointer;
}

.iconPlus{
  color: white;
}

.btnInfoNewPostMin:hover{
  font-size: 14px;
  transition: 0.1s;
}

.nameInfo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  width: 100%;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nameInfo span{
  opacity: .5;
  margin: 0 10px;
}

.bioInfo{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 6px 0 16px 0;

  color: #808080;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.btnInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 57.5px;
  width: 100%;
  padding-bottom: 24px;
}

.btnInfoEditProfile{
  width: 100px;
  height: 40px;
  background-color: #fff;
  color: #010101;
  border-radius: 12px;
  border: 0 solid;
  cursor: pointer;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  transition: 0.3s;
}

.btnInfoEditProfile:hover{
  background-color: #f0f0f0;
  transition: 0.5s;
}

.btnInfoNewPost{
  width: 100px;
  height: 40px;
  background-color: var(--MyBlue);
  color: #fff;
  border-radius: 12px;
  border: 0 solid;
  cursor: pointer;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  transition: 0.3s;
}

.btnInfoNewPost:hover{
  background-color: #127cdb;
  transition: 0.5s;
}

footer{
  width: 100%;
  text-align: center;
  align-self: center;
  color: #C9CAD1;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 26px;
}

.footerLinks{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.footerLinks a{
  text-decoration: none;
  color: #C9CAD1;
  transition: 0.5s;
}

.footerLinks a:hover{
  text-decoration: none;
  /* color: var(--MyBlue) */
  color: #010101;
}

.postHeader{
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postAuthorInfo{
  display: flex;
  align-items: center;
}

.postUserImage{
  width: 40px;
  height: 40px;
  border-radius: 12px;
  margin-right: 16px;
  border: 0.5px solid #C9CAD1;
}

.postUserInfo{
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.postUserInfo p:last-child{
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  opacity: .25;
}

.postGlobalControls{
  padding: 0 5px;
}

.iconDots{
  font-size: 20px;
  color: #C9CAD1;
  cursor:pointer; 
}





.postMain{
  width: 100%;
}

.postImage{
  width: 100%;
  height: 570px;
  position: relative;
}

.postImageImg{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 48px;
}

.copied{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 48px;
  top: 0;
  z-index: -999;
  color: white;
  font-family: 'Poppins', 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.copied-x{
  animation-name: copiedToBuf;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  z-index: 999;
  opacity: 1;
}

@keyframes copiedToBuf {
  from {z-index: 0; opacity: 0;}
  to {z-index: 999; opacity: 1;}
}

.postDescription{
  width: 100%;
  max-height: 94px;
  box-sizing:border-box;
  padding: 14px 10px;
  overflow: hidden;
}

.postDescription p{
  width: 100%; 
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;


  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
}


.postFooter{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
}

.postControls{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.postControls p{
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.iconLike, .iconComment{
  font-size: 20px;
  color: #C9CAD1;
  margin-right: 8px;
  cursor:pointer;
}

.iconLiked{
  font-size: 20px;
  color: #FB766E;
  margin-right: 8px;
  cursor:pointer;
}

.iconComment{
  margin-left: 24px;
}

.postShare{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor:pointer;

  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.iconShare{
  font-size: 20px;
  margin-left: 5px;
}



.dropMenuLang, .dropMenuLangMain{
  width: 64px;
  position: absolute;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 12px 12px;
  
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  
  z-index: 1;
}

.dropMenuLang {
  margin-right: 80px;
}

.dropMenuLangMain{
  margin-right: 127px;
}

.dropMenuItem{
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  background: #FFFFFF;
  border: 0px solid;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropMenuItem:hover{
  background-color: #ebebed;
  transition: 0.3s;
}

.dropMenuItem:last-child{
  border-radius: 0 0 12px 12px;
}










@media screen and (max-width: 720px) {
  .headerMain{
    height: 64px;
    padding: 0 16px;
  }

  .homeLink, .userInfoBlock{
    display: none;
  }

  .wrapper{
    width: 92%;
  }

  .mainBlock{
    width: 100%;
  }

  .storyBlock{
    height: 80px;
  }

  .userLink{
    width: 40px;
    height: 40px;
  }

  .storyBlock{
    margin-bottom: 5px;
  }

  .story{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    margin-right: 12px;
  }

  .storyImage{
     width: 46px;
    height: 46px;
    border-radius: 12px;
  }

  .storyImageImg{
    border-radius: 8px;
  }

  .post{
    height: auto;
  }

  .postHeader{
    height: 60px;
  }

  .postImage{
    height: 345px;
  }
  
  .postImageImg {
    border-radius: 24px;
  }

  .postDescription {
    margin-bottom: 10px;
  }

  .btnLang{
    display: none;
  }

  .iconDots{
    font-size: 18px;
  }

}

@media screen and (max-width: 1024px) and (min-width: 720px) {
  .headerMain{
    height: 88px;
    padding: 0 64px;
  }

  .homeLink, .userInfoBlock{
    display: none;
  }

  .wrapper{
    width: 560px;
  }

  .mainBlock{
    width: 100%;
  }

  .storyBlock{
    height: 80px;
  }

  .userLink{
    width: 45px;
    height: 45px;
  }

  .storyBlock{
    margin-bottom: 10px;
    height: 100px;
  }

  .story{
    width: 64px;
    height: 64px;
    border-radius: 16px;
    margin-right: 22px;
  }

  .storyImage{
     width: 58px;
    height: 58px;
    border-radius: 14px;
  }

  .storyImageImg{
    border-radius: 10px;
  }

  .post{
    height: auto;
    margin-bottom: 40px;
  }

  .postHeader{
    height: 60px;
  }

  .postImage{
    height: 560px;
  }
  
  .postImageImg {
    border-radius: 24px;
  }

  .postDescription {
    margin-bottom: 10px;
  }

  .btnLang{
    display: none;
  }
}



.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.modal-main {
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  
  width: 575px;
  height: 650px;
  border-radius: 32px;
  background: white;
  padding: 48px;
  box-sizing: border-box;
}

.editHeader{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.editHeaderProfileInfoText {
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}

.editHeader button{
  background-color: transparent;
  border: 0px solid;
  text-decoration: none;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FB766E;
}

.editHeader button:hover{
  text-decoration: underline;
  cursor: pointer;
}


.editBody{
  width: 100%;
}

.editBodyUp{
  width: 100%;
  display: flex;
  position: relative;
}

.editBodyUpImage{
  width: 35%;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.editBodyUpImage:hover > .chooseNewPicBtn{
  display: flex;
  transition: 0.5s;
}

.chooseNewPicBtn{
  transition: 0.5s;
  height: 28px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;

  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;

  animation-name: uploadPhoto;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  opacity: 1;
}

@keyframes uploadPhoto {
from {z-index: 0; opacity: 0;}
to {z-index: 999; opacity: 1;}
}

.editProfileImage{
  width: 100%;
}

.editBodyUpIput{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  padding-left: 40px;
}




.inputDivEdit{
  width: 100%;
}

.inputDivEdit:first-child{
  margin-bottom: 5px;
}

.inputNameEdit{
  width: 100%;
  height: 20px;
  color: #808080;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 2px;
}

.inputTypeEdit{
  width: 100%;
  height: 53px;
  background: #FFFFFF;
  border: 1px solid #C9CAD1;
  box-sizing: border-box;
  border-radius: 12px;
  padding-left: 14px;
  padding-right: 14px;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.inputTypeEdit:focus{
  outline: none;
}

.inputTypeEdit::placeholder{
  opacity: 40%;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.textareaNameEdit{
  margin-top: 32px;
  width: 100%;
  height: 20px;
  color: #808080;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 2px;
}

.textareaTypeEdit{
  width: 100%;
  height: 70px;
  background: #FFFFFF;
  border: 1px solid #C9CAD1;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 14px;
  font-family: 'Poppins', 'Roboto'; 
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  resize: none;
}

.textareaTypeEdit:focus{
  outline: none;
}

.textareaTypeEdit::placeholder{
  opacity: 40%;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}



.editBodyDownEdit{
  padding-top: 32px;
  width: 100%;
}

.editBodyDownNew{
  padding-top: 8px;
  width: 100%;
}


.editFooter{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.modalBtnCancel{
  border: 1px solid #C9CAD1;
  width: 45%;
  height: 48px;
  background-color: #fff;
  color: #010101;
  border-radius: 12px;
  cursor: pointer;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  transition: 0.3s;
}

.modalBtnCancel:hover{
  background-color: #f0f0f0;
  transition: 0.5s;
}


.modalBtnSave{
  width: 45%;
  height: 48px;
  background-color: var(--MyBlue);
  color: #fff;
  border-radius: 12px;
  border: 0 solid;
  cursor: pointer;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  transition: 0.3s;
}

.modalBtnSave:hover{
  background-color: #127cdb;
  transition: 0.5s;
}


.uploadPhotoDiv{
  width: 100%;
  height: 325px;
  background: #C9CAD1;
border-radius: 12px;
}

.uploadPhotoPlaceholder{
  width: 100%;
  cursor: alias;
}






.wrapperProfile{
  margin: 0 auto;
  width: 1024px;
  margin-bottom: 50px;
}

.profile{
  width: 100%;
  height: 250px;
  padding-top: 35px;
  padding-bottom: 35px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.profileMainInfo{
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}

.profileImage{
  width: 120px;
  height: 120px;
  margin-right: 32px;

  border-radius: 30px;
  background: linear-gradient(
45deg
, #74EDF2 0%, #5156E6 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImageInside{
  width: 112px;
    height: 112px;
    border-radius: 26px;
    border: 2px solid white;
    background-color: white;
}

.profileImageInsideIMG{
    width: 100%;
    height: 100%;
    border-radius: 26px;
}

.profileData{
  width: 65%;
  height: 120px;
  display: flex;
  flex-direction: column;
}

.pdName{
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 10px;
}

.pdJob{
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.pdDesc{
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #808080;
}

.profileAddInfo{
  display: flex;
  flex-wrap: wrap;
  justify-content : center;
  align-items: center;
  height: 95%;
  width: 400px;
  padding-top: 15px;
}

.aiFollow{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  text-align: right;
}

.followNumber1, .followNumber2{
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

.followText1, .followText2{
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #C9CAD1;
}

.followText2{
  margin-left: 86px;
}





.btnInfoo{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 24px;
}

.btnInfoEditProfilee{
  width: 140px;
  height: 40px;
  background-color: #fff;
  color: #010101;
  border: 1px solid #C9CAD1;
  border-radius: 12px;
  cursor: pointer;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  transition: 0.3s;
}

.btnInfoEditProfilee:hover{
  background-color: #f0f0f0;
  transition: 0.5s;
}

.btnInfoNewPoste{
  width: 140px;
  height: 40px;
  background-color: var(--MyBlue);
  color: #fff;
  border-radius: 12px;
  border: 0 solid;
  cursor: pointer;
  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-left: 20px;
  transition: 0.3s;
}

.btnInfoNewPoste:hover{
  background-color: #127cdb;
  transition: 0.5s;
}

.posts{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}

.profilePost{
  width: 335px;
  height: 335px;
  justify-content: flex-start;
  margin-bottom: 6px;
  margin-right: 6px;
  position: relative;
}

.profilePostImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.profilePost:hover > .getImageID{
  display: flex;
  transition: 0.5s;
}

.getImageID{
  transition: 0.5s;
  bottom: 15px;
  left: 30%;
  position: absolute;
  border-radius: 16px;
  width: 135px;
  height: 35px;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #F34234;
  cursor: pointer;

  font-family: 'Poppins', 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  animation-name: deleteButton;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  opacity: 1;
}

input[type="file"] {
  display: none;
}


@keyframes deleteButton {
from {z-index: 0; opacity: 0;}
to {z-index: 999; opacity: 1;}
}

.getImageID:hover{
 background-color: #CF3529;
}

.iconDelete{
  color: white;
  font-size: 18px;
  margin-left: 10px;
}






























* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

body {
	padding: 0;
	margin: 0
}

#notfound {
	position: relative;
	height: 70vh
}

#notfound .notfound {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.notfound {
	max-width: 520px;
	width: 100%;
	line-height: 1.4;
	text-align: center
}

.notfound .notfound-404 {
	position: relative;
	height: 240px
}

.notfound .notfound-404 h1 {
	font-family: montserrat, sans-serif;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 252px;
	font-weight: 900;
	margin: 0;
	color: #262626;
	text-transform: uppercase;
	letter-spacing: -40px;
	margin-left: -20px
}

.notfound .notfound-404 h1>span {
	text-shadow: -8px 0 0 #fff
}

.notfound .notfound-404 h3 {
	font-family: cabin, sans-serif;
	position: relative;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #262626;
	margin: 0;
	letter-spacing: 3px;
	padding-left: 6px
}

.notfound h2 {
	font-family: cabin, sans-serif;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000;
	margin-top: 0;
	margin-bottom: 25px
}

@media only screen and (max-width:767px) {
	.notfound .notfound-404 {
		height: 200px
	}
	.notfound .notfound-404 h1 {
		font-size: 200px
	}
}

@media only screen and (max-width:480px) {
	.notfound .notfound-404 {
		height: 162px
	}
	.notfound .notfound-404 h1 {
		font-size: 162px;
		height: 150px;
		line-height: 162px
	}
	.notfound h2 {
		font-size: 16px
	}
}

.profileMobile{
  display: none;
}

@media screen and (max-width: 720px){
  .wrapperProfile{
    width: 100%;
    padding: 0 12px 0 12px;
  }

  .profile{
    display: none
  }

  .profileMobile{
    display: flex;
    height: 285px;
    width: 100%;
  }

  .profilePost{
    width: 112px;
    height: 112px;
  }

.posts .profilePost:nth-child(3n+3) {  
  margin-right: 0;
}

  .dataInfo{
    padding: 32px 24px 12px;
  }

  .nameInfo{
    padding: 10px 24px;
  }

  .bioInfo{
    padding: 0 0 12px 0;
  }

  .btnInfoEditProfile{
    border: 1px solid #C9CAD1;
  }

  .wrapperProfile{
    margin-bottom: 16px;
  }
}

.modalMainComments {
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  
  width: 1079px;
  height: 650px;
  border-radius: 32px;
  background: white;
  box-sizing: border-box;

  display: flex;
}

.partPhoto{
  width: 650px;
  height: 650px;
  border-radius: 32px;
}

.partPhotoImg{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 32px 0 0 32px;
}

.partComments{
  width: 40%;
  height: 100%;
  border-radius: 0 32px 32px 0;
  border-left: 0.5px solid #333333;
}

.commentsHeader{
  width: 100%;
  height: 80px;
  border-bottom: 0.5px solid #C9CAD1;
  border-radius: 0 32px 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.iconTimes{
  cursor: pointer;
  font-size: 20px;
  color: #808080;
}

.comHeaderUserInfo{
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.comHeaderImageUser{
  width: 40px;
  height: 40px;
  border-radius: 12px;
  margin-right: 16px;
  border: 0.5px solid #C9CAD1;
}

.commentsBody{
  width: 100%;
  height: 425px;
  border-bottom: 0.5px solid #C9CAD1;
  padding: 32px;
}

.likes{
  display: flex;
  align-items: center;
  padding: 0 32px;

  width: 100%;
  height: 64px;
  border-bottom: 0.5px solid #C9CAD1;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.commentsFooter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;

  width: 100%;
  height: 80px;
  border-radius: 0 0 32px 0;
}

.postInput::placeholder{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.postInput:focus {
  outline-style: none;
}

.postInput{
  border: 0 solid;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.postButton{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--MyBlue);
  border: 0 solid;
  background-color: #fff;
  cursor: pointer;
}

.commentsBody{
  overflow-y: auto;
}

.Comments{
  width: 100%;
}

.singleComment{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 350px;
  margin-bottom: 32px;
}

.singleCommentImg{
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

.singleCommentData{
  width: 300px;
  margin-left: 10px;
  overflow-wrap: break-word;
}

.singleCommentMSG{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

.singleCommentTime{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #C9CAD1;
}